/* -------------font -------------------- */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
div pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
figure,
header,
nav,
section,
article,
aside,
footer,
figcaption {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}

header,
nav,
section,
article,
aside,
footer,
hgroup {
	display: block;
}

* {
	box-sizing: border-box;
}

html,
body {
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	background-color: var(--primary-color);

	scroll-behavior: smooth;
}

a {
	text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0px;
	margin-bottom: 0px;
}

ul {
	margin-bottom: 0px;
}

p {
	font-size: 15px;
	line-height: 30px;
	color: var(--secondary-color);
}

img {
	width: 100%;
	overflow: hidden;
	top: 10px;
}
/* darkmode */
:root {
	--primary-color: #ffffff;
	--secondary-color: #15202b;
	/* only for Study Material */
	--base-shade-1: #03a4ed;
	--white-shade-1: #ffffff;
	--white-shade-2: #d7e1f3;
	--black-shade-1: #232323;
	--black-shade-2: #676a8b;
	--grad-color-1: 0, 180, 250;
	--grad-color-2: 21, 120, 255;
}
.dark-theme {
	--primary-color: #15202b;
	--secondary-color: #e5ecfc;
	/* only for Study Material */
	--base-shade-1: #03a4ed;
  --white-shade-1: #232323;
  --white-shade-2: #676a8b;
  --black-shade-1: #ffff;
  --black-shade-2: #d7e1f3;
  --grad-color-1: 0, 180, 250;
  --grad-color-2: 21, 120, 255;
}
#darkmode img {
	width: 27px;
}

@media (max-width: 991px) {
	html,
	body {
		overflow-x: hidden;
	}
	.mobile-top-fix {
		margin-top: 30px;
		margin-bottom: 0px;
	}
	.mobile-bottom-fix {
		margin-bottom: 30px;
	}
	.mobile-bottom-fix-big {
		margin-bottom: 60px;
	}
}

.page-section {
	margin-top: 120px;
}

.section-heading h2 {
	font-size: 30px;
	text-transform: capitalize;
	color: var(--secondary-color);
	font-weight: 700;
	letter-spacing: 0.25px;
	position: relative;
	z-index: 2;
	line-height: 44px;
}

.section-heading h2 em {
	font-style: normal;
	color: #03a4ed;
}

.section-heading h2 span {
	color: #fe3f40;
}

.main-blue-button a {
	display: block;
	background-color: #03a4ed;
	font-size: 15px;
	font-weight: 400;
	color: #f7f7f7;
	text-transform: capitalize;
	padding: 12px 170px;
	border-radius: 23px;
	letter-spacing: 0.25px;
}

/* --------------header---------------- */
/* /bg for particle */
.background {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	z-index: 0;
	/* background-color: #eeff00; */
}

.background-header {
	background-color: var(--primary-color) !important;
	height: 80px !important;
	position: fixed !important;
	top: 0px;
	left: 0px;
	right: 0px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15) !important;
}

.background-header .logo,
.background-header .main-nav .nav li a {
	color: var(--secondary-color) !important;
}

.background-header .main-nav .nav li:hover a {
	color: #fe3f40 !important;
}

.background-header .nav li a.active {
	color: #fe3f40 !important;
}

.header-area {
	/* background-color: #afafaf; */
	background-color: var(--primary-color);
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: 100;
	height: 75px;
}

.header-area .main-nav {
	height: 50px;
	min-height: 50px;
	background: transparent;
}

.header-area .main-nav .logo {
	line-height: 100px;
	color: var(--primary-color);
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
	float: left;
}

.header-area .main-nav .logo h4 {
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	color: #03a4ed;
	line-height: 100px;
	float: left;
}

.logo h4 span {
	color: #fe3f40;
}

.background-header .main-nav .logo h4 {
	line-height: 80px;
}

.background-header .main-nav .nav {
	margin-top: 20px !important;
}

.header-area .main-nav .nav {
	float: right;
	margin-top: 0px;
	margin-right: 0px;
	background-color: transparent;

	position: relative;
	z-index: 999;
}

.header-area .main-nav .nav li {
	padding-left: 10px;
	padding-right: 10px;
}

.header-area .main-nav .nav li:last-child {
	padding-right: 0px;
	padding-left: 40px;
}

.header-area .main-nav .nav li:last-child a,
.background-header .main-nav .nav li:last-child a {
	color: #f7f7f7 !important;
	padding: 0px 20px;
	font-weight: 400;
}

.header-area .main-nav .nav li:last-child a:hover,
.header-area .main-nav .nav li:last-child a.active {
	color: #f7f7f7 !important;
}

.header-area .main-nav .nav li a {
	display: block;
	font-weight: 500;
	font-size: 15px;
	color: var(--secondary-color);
	text-transform: capitalize;

	height: 40px;
	line-height: 40px;
	border: transparent;
	letter-spacing: 1px;
}

.header-area .main-nav .nav li a {
	color: var(--secondary-color);
}

.header-area .main-nav .nav li:hover a,
.header-area .main-nav .nav li a.active {
	color: #03a4ed !important;
}

.background-header .main-nav .nav li:hover a,
.background-header .main-nav .nav li a.active {
	color: #fe3f40 !important;
	opacity: 1;
}

.header-area .main-nav .nav li:last-child a:hover,
.background-header .main-nav .nav li:last-child a:hover {
	background-color: #03a4ed;
}

.header-area .main-nav .nav li.submenu {
	position: relative;
	padding-right: 30px;
}

.header-area .main-nav .nav li.submenu:after {
	font-family: FontAwesome;
	content: "\f107";
	font-size: 12px;
	color: #2a2a2a;
	position: absolute;
	right: 18px;
	top: 12px;
}

.background-header .main-nav .nav li.submenu:after {
	color: #2a2a2a;
}

.header-area .main-nav .nav li.submenu ul {
	position: absolute;
	width: 200px;
	box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
	overflow: hidden;
	top: 50px;
	opacity: 0;

	visibility: hidden;
	z-index: -1;

	z-index: 0s linear 0.01s;
}

.header-area .main-nav .nav li.submenu ul li {
	margin-left: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.header-area .main-nav .nav li.submenu ul li a {
	opacity: 1;
	display: block;
	background: var(--primary-color);
	color: #2a2a2a !important;
	padding-left: 20px;
	height: 40px;
	line-height: 40px;
	position: relative;
	font-size: 13px;
	font-weight: 400;
	border-bottom: 1px solid var(--primary-color);
}

.header-area .main-nav .nav li.submenu ul li a:hover {
	background: var(--primary-color);
	color: #fe3f40 !important;
	padding-left: 25px;
}

.header-area .main-nav .nav li.submenu ul li a:hover:before {
	width: 3px;
}

.header-area .main-nav .nav li.submenu:hover ul {
	visibility: visible;
	opacity: 1;
	z-index: 1;
}

.header-area .main-nav .menu-trigger {
	cursor: pointer;
	display: block;
	position: absolute;
	top: 33px;
	width: 32px;
	height: 40px;
	text-indent: -9999em;
	z-index: 99;
	right: 40px;
	display: none;
}

.background-header .main-nav .menu-trigger {
	top: 23px;
}

.header-area .main-nav .menu-trigger span,
.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
	background-color: var(--secondary-color);
	display: block;
	position: absolute;
	width: 30px;
	height: 2px;
	left: 0;
}

.background-header .main-nav .menu-trigger span,
.background-header .main-nav .menu-trigger span:before,
.background-header .main-nav .menu-trigger span:after {
	background-color: var(--secondary-color);
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
	background-color: var(--secondary-color);
	display: block;
	position: absolute;
	width: 30px;
	height: 2px;
	left: 0;
	width: 75%;
}

.background-header .main-nav .menu-trigger span:before,
.background-header .main-nav .menu-trigger span:after {
	background-color: var(--secondary-color);
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
	content: "";
}
.header-area .main-nav .menu-trigger span {
	top: 16px;
}

.header-area .main-nav .menu-trigger.active span,
.header-area .main-nav .menu-trigger.active span:before,
.header-area .main-nav .menu-trigger.active span:after {
	background-color: transparent;
	width: 100%;
}

.header-area .main-nav .menu-trigger.active span:before {
	background-color: var(--secondary-color);
}

.background-header .main-nav .menu-trigger.active span:before {
	background-color: var(--secondary-color);
}

.header-area .main-nav .menu-trigger.active span:after {
	background-color: var(--secondary-color);
}

.background-header .main-nav .menu-trigger.active span:after {
	background-color: var(--secondary-color);
}

.header-area.header-sticky {
	min-height: 80px;
}

.header-area .nav {
	margin-top: 30px;
}

.header-area.header-sticky .nav li a.active {
	color: #fe3f40;
}

@media (max-width: 1200px) {
	.header-area .main-nav .nav li {
		padding-left: 12px;
		padding-right: 12px;
	}
	.header-area .main-nav:before {
		display: none;
	}
}

@media (max-width: 992px) {
	.header-area .main-nav .nav li:last-child,
	.background-header .main-nav .nav li:last-child {
		display: none;
	}
	.header-area .main-nav .nav li:nth-child(6),
	.background-header .main-nav .nav li:nth-child(6) {
		padding-right: 0px;
	}
}

@media (max-width: 767px) {
	.background-header .main-nav .nav {
		margin-top: 80px !important;
	}
	.header-area .main-nav .logo {
		color: var(--secondary-color);
	}
	.header-area.header-sticky .nav li a:hover,
	.header-area.header-sticky .nav li a.active {
		color: #fe3f40 !important;
		opacity: 1;
	}
	.header-area.header-sticky .nav li.search-icon a {
		width: 100%;
	}
	.header-area {
		background-color: var(--primary-color);
		padding: 0px 15px;
		height: 100px;
		box-shadow: none;
		text-align: center;
	}
	.header-area .container {
		padding: 0px;
	}
	.header-area .logo {
		margin-left: 30px;
	}
	.header-area .menu-trigger {
		display: block !important;
	}
	.header-area .main-nav {
		overflow: hidden;
	}
	.header-area .main-nav .nav {
		float: none;
		width: 100%;
		display: none;

		margin-left: 0px;
	}
	.background-header .nav {
		margin-top: 80px;
	}
	.header-area .main-nav .nav li:first-child {
		border-top: 1px solid var(--primary-color);
	}
	.header-area.header-sticky .nav {
		margin-top: 100px;
	}
	.header-area .main-nav .nav li {
		width: 100%;
		background: var(--primary-color);
		border-bottom: 1px solid var(--primary-color);
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	.header-area .main-nav .nav li a {
		height: 50px !important;
		line-height: 50px !important;
		padding: 0px !important;
		border: none !important;
		background: var(--primary-color) !important;
		color: #191a20 !important;
	}
	.header-area .main-nav .nav li a:hover {
		background: var(--primary-color) !important;
		color: #fe3f40 !important;
	}
	.header-area .main-nav .nav li.submenu ul {
		position: relative;
		visibility: inherit;
		opacity: 1;
		z-index: 1;

		top: 0px;
		width: 100%;
		box-shadow: none;
		height: 0px;
	}
	.header-area .main-nav .nav li.submenu ul li a {
		font-size: 12px;
		font-weight: 400;
	}
	.header-area .main-nav .nav li.submenu ul li a:hover:before {
		width: 0px;
	}
	.header-area .main-nav .nav li.submenu ul.active {
		height: auto !important;
	}
	.header-area .main-nav .nav li.submenu:after {
		color: #3b566e;
		right: 25px;
		font-size: 14px;
		top: 15px;
	}
	.header-area .main-nav .nav li.submenu:hover ul,
	.header-area .main-nav .nav li.submenu:focus ul {
		height: 0px;
	}
}

@media (min-width: 767px) {
	.header-area .main-nav .nav {
		display: flex !important;
	}
}
/*-------------------------------------*/
/* cursor style */
/*-------------------------------------*/
body {
	cursor: default;
}

#cursor {
	height: 50px;
	width: 50px;
	background: pink;
	border-radius: 50%;
	position: absolute;
	display: none;
	transition-duration: 0.5s;
	transition-timing-function: ease-out;
	transform: scale(0.5);
}
#cursor:hover {
	background-color: aqua;
}
