{% load static %}
<header class="header-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="{% url 'StudyMaterial:study_home' %}" class="logo">
                        <h4><span>FC</span>Learners</h4>
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li class="scroll-to-section">
                            <a href="{% url 'Blog:blog_home' %}">Home</a>
                        </li>
                        <li class="scroll-to-section">
                            <a href="{% url 'StudyMaterial:study_home' %}" class="active">Study Material</a>
                        </li>
                        <li class="scroll-to-section">
                            <a href="{% url 'Blog:blog_home' %}">Blog</a>
                        </li>
                        <li class="scroll-to-section">
                            <a href="#portfolio">Q&A Forum</a>
                        </li>
                        <li class="scroll-to-section"><a href="#blog">About Us</a></li>
                        <li class="scroll-to-section">
                            <a id="darkmode">
                                <span class="las la-adjust" id="modeicon"></span>
                                <!-- <img src="moon.png" alt="" srcset="" id="modeicon" /> -->
                            </a>
                        </li>
                        <li class="scroll-to-section">
                            <div class="main-blue-button">
                                {% if not request.user.is_authenticated %}
                                <a href="{% url 'User:register_or_login' %}">Login</a>
                                {% else %}
                                    {% if request.user.is_teacher %}
                                        <a href="{% url 'User:teacher_dash' %}">{{ request.user.name }}</a>
                                    {% else %}
                                        <a href="{% url 'User:student_dash' %}">{{ request.user.name }}</a>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>