<div class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="footer-widget">
          <h4 class="title">FC Learners</h4>
          <br />
          <div class="contact-info">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. A
            reiciendis odit totam?
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="footer-widget">
          <h4 class="title">Quick Links</h4>
          <br />

          <ul>
            <li><a href="#" class="list">Posuere egestas</a></li>
            <li><a href="#" class="list">Sollicitudin</a></li>
            <li><a href="#" class="list">Luctus non</a></li>
          </ul>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="footer-widget">
          <h4 class="title">Get in Touch</h4>
          <br />
          <div class="contact-info">
            <i class="fa fa-map-marker"></i>123 Shivajinagar, Pune , India

            <i class="fa fa-envelope"></i>email@example.com
            <br />
            <i class="fa fa-phone"></i>+123-456-7890
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="footer-widget">
          <h4 class="title">Our Team</h4>
          <br />
          <div class="contact-info">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </div>
        </div>
      </div>
    </div>
    <br />
    <br />
    <br />
  </div>
</div>
